.container{
    text-align: center;
    padding: 10px;
}

.main_img{
    margin: 0 0 40px 0;
    border: 1px #666666 solid;
    /* 幅が400未満のときに引き伸ばす */
    width: 100%; 
    max-width: 400px;
}

.days{
    display: flex;
    justify-content: center;
}