.container{
    text-align: center;
    padding: 10px;
}

.main_img{
    margin: 0 0 40px 0;
    border: 1px #666666 solid;
    /* 幅が400未満のときに引き伸ばす */
    width: 100%; 
    max-width: 400px;
}

.add_member{
    margin-bottom: 30px;   
}

.members{
    padding: 25px;
    margin-top: 30px;
}
.member_top_info{
    margin: 5px;
}

.button_profile{
    margin: 10px;
}

.trim-image-to-circle {
    border-radius: 50%;
    width:  100px;
    height: 100px;
    border-radius: 50%;
    background-position: left top;
    border: 4px solid #F0D0E4; /* 枠線を付加 */
    object-fit: cover; 
    margin: 10px;
}

.travel_title{
    text-align: left;
    font-family: 'M PLUS 1', sans-serif;
}

.travel_title_schedule{
    margin-top: 20px;
}

.travel_thumbnail{
    width: 380px;
    height: 190px;
    object-fit: cover; 
    margin: 10px 0;
}

.card-body{
    padding: 2px;
    margin: 2px;
}

.del_plan{
    margin: 0;
    padding: 0;
}

.plan_day_header{
    padding: 0 10px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'M PLUS 1', sans-serif;
}

.modal_profile{
    text-align: left;
}

.modal-body{
    display: flex;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
}

.card_plans{
    display: flex;
    justify-content: space-between;
    font-family: 'M PLUS 1', sans-serif;
}

.plan_button{
    display: flex;
    justify-content: flex-end;
}

.addplan{
    text-align: center;
    margin-bottom: 20px;
}

.sharelink_button{
    display: flex;
    justify-content: space-between;
}

.sharelink{
    padding: 10px;
}

button{
    width: 140px;
    margin: 10px;
}

.submit{
    margin: 40px;
}

.copyright{
    text-align: center;
}

.error_msg{
    color: #FF0000;
}