.container{
    text-align: center;
    padding: 10px;
}

.main_img{
    margin: 0 0 40px 0;
    border: 1px #666666 solid;
    /* 幅が400未満のときに引き伸ばす */
    width: 100%; 
    max-width: 400px;
}

.members{
    padding: 25px;
    margin-top: 30px;
}

.member_top_info{
    margin: 10px;
}

.button_profile{
    margin: 10px;
}

.trim-image-to-circle {
    border-radius: 50%;
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    border: 9px solid #F0D0E4; /* 枠線を付加 */
    object-fit: cover; 
    margin: 10px;
}

.travel_title{
    text-align: left;
    font-family: 'M PLUS 1', sans-serif;
}

.travel_title_schedule{
    margin-top: 20px;
}

.travel_thumbnail{
    width: 840px;
    height: 360px;
    object-fit: cover; 
    margin: 30px;
}

.plan_day_header{
    padding: 0 10px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'M PLUS 1', sans-serif;
}

.modal_profile{
    text-align: left;
}

.modal-body{
    display: flex;
}

.card_plans{
    display: flex;
    justify-content: space-between;
    font-family: 'M PLUS 1', sans-serif;
}

button{
    width: 140px;
}

.input_birthday{
    margin: 20px;
}

.submit{
    margin: 40px;
}

.birthday{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.birth_txt{
    margin: 5px;
}

.copyright{
    text-align: center;
}

.error_msg{
    color: #FF0000;
}